.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 53%;
}
.login{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login span{
  margin-right: auto;
}
.login div{
  text-align: end;
  padding: 10px;
}
div h3{
  padding-right: 12%;
}
form input{
  margin-bottom: 3px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#welcome{
  text-align: center;
}
#stories-container{
  display: none;

}
#canvas {
  border: 2px solid #6C233A;
  display: block;
  margin-left: 20px;
  background-color: #F3F9E3;
}
.images{
  display: none;
}
#grapes{
  transform: scale(0.25)
}
#edit-meta-contents-container{
  display: none;
}
#new-scene-modal{
  display: none;
}
/* #new-scene{
  display: none;
} */
#new-story-modal{
  display: none;
}
#user-button{
  margin-bottom: 2em;
}
/* #zoom-in{
  display: none;
}
#zoom-out{
  display: none;
} */
#zoom-container{
  display: none;
}
#scene-container{
  display: none;
}
#highlights-container{
  display: none;
}
#header {
  width: 1000px;
  margin-top: 40px;
}
.tools{
  padding-left: 10px;
  padding-right: 10px;
}
.drop-down{
  width: min-content;
  border-right: 2px solid;
}
.button{
  width: auto;
  border-right: 2px solid;
}
.tools-container{
  margin-bottom: 1em;
  display: none;
  flex-direction: row;
  height: 75px;
  width: auto;
  padding: 10px;
  justify-content: center;
}
.edit-button{
  display: block;
  margin-bottom: 5px;
}
body{
  background-color: #DEF9DC;
  font-family: vollkorn;
}
